@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    background-color: #321852;
    width: 15px;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #321852, #6a099f);
    border-radius: 30px;
}

.formInput {
    position: relative;
    width: 100%;
}

.formInput input {
    width: 100%;
    padding: 8px;
    background-color: #292a3f;
    border-radius: 5px;
    outline: none;
    font-size: 1.5rem;
}

.formInput span {
    position: absolute;
    left: 0;
    padding: 8px;
    pointer-events: none;
    font-size: 1.5rem;
    transition: 0.5s;
    border: none;
}

.formInput input:valid~span,
.formInput input:focus~span {
    transform: translateX(10px) translateY(-15px);
    font-size: 1.1rem;
    padding: 0 10px;
    background-color: #292a3f;
    letter-spacing: 0.2em;
}