@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    background-color: #321852;
    width: 15px;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #321852, #6a099f);
    border-radius: 30px;
}